<div class="jumbotron mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="display-4">Bienvenidos</h1>
        </div>
        <div class="card-body">
            <p>
                Esta es una pequeña demostración de una aplicación Full Stack desarrollada como parte de una prueba
                técnica.

                La solución implementa un sistema de autenticación de usuarios y gestión de datos personales. Incluye
                una interfaz de inicio de sesión, junto con un panel donde se pueden visualizar, añadir, editar y
                eliminar usuarios.
            </p>
            <p>

                Además, se registra automáticamente un historial de conexiones (login y logout) por cada usuario
                autenticado.

                El backend ha sido desarrollado en Node.js con Express y conectado a una base de datos MongoDB,
                utilizando medidas de seguridad como encriptación de contraseñas (bcrypt) y autenticación.

                El frontend está construido con JavaScript e implementa formularios dinámicos, protección de
                rutas y diseño responsive. Os dejo imágenes de las tenologías usadas:
            </p>
            <img src="/img/NodeJs.png" class="mx-auto d-bloc m-4 logos" alt="Logo">
            <img src="/img/MongoDB.png" class="mx-auto d-bloc m-4 logos" alt="Logo">
            <img src="/img/Handlebars.png" class="mx-auto d-bloc m-4 logos" alt="Logo">
            <img src="/img/Boostrap.png" class="mx-auto d-bloc m-4 logos" alt="Logo">
        </div>
    </div>
</div>